version: '3.8'

services:
  traefik:
    ports:
      - "7999:80"
    command:
      - "--entrypoints.web.address=:80"
      - "--api.insecure=true"
      - "--ping=true"
      - "--providers.swarm=true"
      - "--providers.swarm.exposedbydefault=false"
      - "--providers.swarm.network=prod_app-net"
      - "--providers.swarm.constraints=Label(`com.docker.stack.namespace`,`prod`)"
      - "--accesslog=true"
      - "--accesslog.format=json"
      - "--log.level=INFO"
    deploy:
      replicas: 2
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M

  frontend:
    deploy:
      replicas: 3
      resources:
        limits:
          memory: 256M
        reservations:
          memory: 128M

  backend:
    deploy:
      replicas: 3
      resources:
        limits:
          memory: 512M
        reservations:
          memory: 256M