version: '3.8'

services:
  traefik:
    image: traefik:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - app-net
    deploy:
      placement:
        constraints:
          - node.role == manager

  frontend:
    image: ${FRONTEND_IMAGE}
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.frontend.rule=PathPrefix(`/`)"
        - "traefik.http.routers.frontend.entrypoints=web"
        - "traefik.http.services.frontend.loadbalancer.server.port=80"
    networks:
      - app-net

  backend:
    image: ${BACKEND_IMAGE}
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.backend.rule=PathPrefix(`/api/nodejs`)"
        - "traefik.http.routers.backend.entrypoints=web"
        - "traefik.http.middlewares.backend-strip.stripprefix.prefixes=/api/nodejs"
        - "traefik.http.routers.backend.middlewares=backend-strip"
        - "traefik.http.services.backend.loadbalancer.server.port=8000"
    secrets:
      - source: backend_env
        target: /app/.env
    networks:
      - app-net
      - shared-db-net

networks:
  app-net:
    driver: overlay
  shared-db-net:
    external: true

secrets:
  backend_env:
    external: true